
@{
    ViewData["Title"] = "SaveImage";
}

<h1>SaveImage</h1>

<form asp-action="SaveImage" enctype="multipart/form-data">

    <input type="file" name="image" />

    <button type="submit" >Kaydet</button>

</form>